<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">School Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/students/list}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/grades/list}">Grades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/teachers/list}">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/courses/list}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/attendances/list}">Attendances</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Student List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
            <th>Stats</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.department}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/api/students/edit/{id}(id=${student.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/api/students/delete/{id}(id=${student.id})}">Delete</a>
            </td>
            <td>
                <a class="btn btn-info" th:href="@{/api/students/students/{studentId}/stats(studentId=${student.id})}">Stats</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/students/add">Add New Student</a>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
